[workspace]

members = [
    "examples/demo",
    "integration/rust",
    "pgdog", "pgdog-config", "pgdog-macros",
    "pgdog-plugin", "pgdog-plugin-build", "pgdog-vector", "plugins/pgdog-example-plugin",
]
resolver = "2"


[profile.release]
codegen-units = 1
lto = true

[profile.flamegraph]
inherits = "release"
lto = false
codegen-units = 16
debug = true
